body {
	font-family: 'Lato', helvetica, sans-serif;
	margin: 0 auto;
}


ul {
	list-style-type: none;
}

li {
	display: inline-block;
	padding: .5em .5em .5em 0;
	font-size: 1.5em;
}

p {
	font-size: 1.2em;
	text-align: center;
	color: #545454;
}

#main-header { 
	background-color: #fff; 
}

h1 {
	margin-top: 3em;
	color: #990033;
	/*font-size: 4em;*/
}

h3.intro {
	text-align: center;
	line-height: 1.4em;
	margin-bottom: .6em;
}

#city-head {
	margin-top: 4em;
	color: #990033;
}


.nav-item a {
	color: #336699 !important;
}


#map {
	width: 100%;
	height: 600px;
	margin-top: 2em;
}

.state {
	fill: none;
	stroke: #636363;
	stroke-width: 1px;
	stroke-linejoin: round;
}

circle:hover{
	cursor: pointer;
	fill-opacity: .2;
}


#main-graph {
	width: 100%;
	height: 100%;
	background-color: #ddd;
}

#stats-panel {
	display: inline-block;
	margin-top: 1em;
}

div.summary {
	margin-bottom: 2em;
	text-align: left;
	display: inline-block;
	margin-right: 2em;
}

#options {
	height: 400px;
}

div.city-graph {
	height: 400px;
	width: 100%;
	background: #ddd;
	margin: 1em 0 1em 0;
}

p.big {
	font-size: 2em;
	font-weight: 700;
	line-height: 0.6em;
	color: #333333;
}

p.subhead {
	font-size: 1.1em;
}

#total-num {
	color: #750000;
}

#highest-num {
	color: cadetblue;
}

#crime-title {
	margin: 0 0 0.8em 0;
}

.crime-box {
	height: 300px;
	width: 100%;
	/*border: 1px solid #ddd;*/
	margin: 1em auto;
	background-color: rgba(244, 244, 244, .4);
	overflow: hidden;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #ccc;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
}

.crime-box:hover {
	cursor: pointer;
    box-shadow: 3px 3px 4px #444;
}

h3.crime-categ {
	text-align: center;
	color: darkred;
}

img.crime-logo {
	width: 200px;
	height: 200px;
	margin: .6em auto;
	display: block;
	border: 0;
}

p.explainer {
	font-size: 2em;
	margin: 1em 1em;
}