<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <!--Bootstrap styles-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}" />
    
    <!--Main stylesheet-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />

    <!--Google font Lato-->
    <link href='//fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <title>Crime in India</title>
  </head>