<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Crime in India is an effort to open up India's crime data and let you know how safe your city is. With helpful charts and maps, you can get information on crime rates in more than 50 Indian cities.">

    <meta property="og:title" content="Crime in India &mdash; Compare crime data from every major city in India. Know how safe your city is." />
    <meta property="og:url" content="https://crime-in-india.github.io" />
    <meta property="og:description" content="Crime in India is an open data portal that makes it easy to know how safe your city is. Get the most updated information on more than 50 cities in India." />
    <meta property="og:image" content="https://raw.githubusercontent.com/crime-in-india/crime-in-india.github.io/master/img/crime-in-india.jpg" />

    <link rel="canonical" href="https://crime-in-india.github.io/">
    
    <!--Bootstrap styles-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}" />
    
    <!--Main stylesheet-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />

    <!--Google font Lato-->
    <link href='//fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <title>Crime in India &mdash; Compare crime data from every major city in India. Know how safe your city is.</title>
  </head>