{% include 'partials/head.html' %}
<body>
{% include 'partials/navbar.html' %}
  <div class="container">
    <div class="row">
      <div id="main-header">
        <h1 class="text-center">About the data</h1>
      </div>
    </div>

    <h3>Introduction</h3>
    <p class="desc">This application was built by <a href="http://ssdatar.github.io" target="_blank">Saurabh Datar</a> as part of his thesis for the <a href="http://journalism.stanford.edu/" target="_blank">Stanford Journalism</a> program. It would not have been possible without the guidance of <a href="twitter.com/dancow" target="_blank">Dan Nguyen</a> and all other professors at the Department of Communication at Stanford University.</p>

    <p class="desc">The icons used on the home page have been designed by <a href="https://thenounproject.com/naripuru/collection/crimes-and-justice-outlines/" target="_blank">parkjisun from The Noun Project</a>.</p>

    <p class="desc">The map of India is courtesy <a href="https://github.com/datameet/maps/tree/master/States" target="_blank">Datameet</a>. It was converted to a TopoJSON using <a href="http://mapshaper.org/" target="_blank">mapshaper</a>.</p>

    <h3>Data</h3>
    <p class="desc">The data comes from India's <a href="http://ncrb.gov.in">National Crime Records Bureau</a>, which releases a compiled report of crimes recorded by police stations all around the country. The app has considered the data from 2010 to 2014 i.e. the five latest years of data available.</p>

    <p>The latest report can be found <a href="http://ncrb.gov.in/StatPublications/CII/CII2014/cii2014.asp" target="_blank">here</a>. Reports from the previous years can be found <a href="http://ncrb.gov.in/StatPublications/CII/PrevPublications.htm" target="_blank">here</a>.</p>

    <p class="desc">There are some assumptions and modifications that are necessary to point out.</p>
    <ul class="about">
      <li class="about">
        <p><strong>Categories</strong>: The Bureau categorizes crimes as 'violent', 'crimes against women', 'property crime', 'economic crime', and so on. We have followed the same nomenclature. You can see their categorization <a href="http://ncrb.gov.in/StatPublications/CII/CII2014/Table_Contents.htm" target="_blank">here<sup>[pdf]</sup></a>.
        </p>
        <p>Furthermore, in order to make navigation of data easier and the analysis more lucid, we have restricted ourselves to displaying a smaller subset of all the crimes recorded in the original data. These include the most serious crimes in each category and provide a fair insight into the criminal makeup of each city. Here are our chosen crimes:</p>
      </li>
      
      <li class="about">
        <p><strong>Crime rates</strong>: From 2010 to 2012, the Bureau recorded rate of crimes against women using the total population. In no way does this reflect the true picture. Hence, we did our own calculations of crime rates for all crimes against women using the <a href="http://www.censusindia.gov.in/2011-prov-results/paper2-vol2/data_files/India2/Table_3_PR_UA_Citiees_1Lakh_and_Above.xls" target="_blank">2011 Census provisional population totals<sup>[xls]</sup></a>.</p>
      </li>

      <li class="about">
        <p><strong>New category</strong>:
          We have also added a new category for crimes against women: <span class="highlight">'Sexual harassment and molestation of women' </span>. This is because of the lack of consistency in the way the Bureau reports sexual crimes against women that are not rape i.e. Section 354 and Section 509. In 2010 and 2011, crimes recorded under these sections were reported as 'Molestation' and 'Sexual harassment' respectively. The following years, they were reported as 'Assault on women with intent to outrage modesty' and 'Insult to the modesty of women'.
        </p>  

        <p>
          We first standardized the nomenclature across all years. Section 354 crimes were named 'Assault on women with intent to outrage modesty' and Section 509 crimes were placed under the 'Insult to the modesty of women' head.
        </p>

        <p>
          We then added our new category <span class="highlight">'Sexual harassment and molestation of women' </span> by adding the number of incidences for crimes under the aforementioned two sections. We then calculated the crime rate for this new composite category using the  2011 Census population numbers.
        </p>

        <p><strong>Why do this?</strong> Combining the two sections provides a simpler way of understanding the rates of sexual harassment and molestation women face. These are not crimes as severe as rape. However, these make life for women much more difficult since they experience these crimes on a regular basis.s
        </p>
      </li>
      
      <li class="about"> Here is a list of crimes we have chosen to display:
        <p><strong>Violent Crimes</strong>: Attempt to commit murder, Culpable homicide not amounting to murder, kidnapping &amp; abduction, murder, and riots</p>

        <p><strong>Crimes Against Women</strong>: Cruelty by husband or his relatives, dowry deaths, rape, and sexual harassment and molestation of women</p>

        <p><strong>Property crimes</strong>: Arson, auto theft, burglary, dacoity, Other theft, and robbery</p>

        <p><strong>Economic crimes</strong>: Cheating, criminal breach of trust, and forgery</p>
      </li>
    </ul>

    <h3>Technical details</h3>
    <p class="desc">The data cleaning was done in Python, with the occasional use of <a href="http://pandas.pydata.org/" target="_blank">Pandas</a> for wrangling and pivot tables.</p>
    <p class="desc">The app itself is powered by Python's <a href="http://flask.pocoo.org/" target="_blank">Flask framework</a>. The website mainly uses <a href="http://www.getbootstrap.com" target="_blank">Bootstrap</a> for styling and responsive design.</p>
    <p class="desc">The visualizations are powered by <a href="http://www.highcharts.com/" target="_blank">Highcharts</a>. The map on the front page is in <a href="https://d3js.org" target="_blank">D3</a>.</p>    
    
  </div>
  <!-- <script src="{{url_for('static', filename='d3/d3.min.js')}}"></script>
  <script src="{{url_for('static', filename='jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='highcharts.js')}}"></script> -->

</body>
</html>