{% include 'partials/head.html' %}
<body>
{% include 'partials/navbar.html' %}
  <div class="container">
    <div class="row">
      <div class="main-header">
        <h1 class="text-center">The Data</h1>
      </div>
    </div>

    <p class="desc">Here is a table of the entire crime data for India. You can download it <a href="#">here</a>.</p>

    <div class="table-responsive">
      <table class="table table-condensed table-striped table-bordered">
        <thead>
          <tr>
            <th class="text-center">City</th>
            <th class="text-center">Crime</th>
            <th class="text-right">2010</th>
            <th class="text-right">2011</th>
            <th class="text-right">2012</th>
            <th class="text-right">2013</th>
            <th class="text-right">2014</th>
            <th class="text-right">Average</th>
          </tr>
        </thead>
        <tbody>
          {% for d in master %}
          <tr>
            <td class="text-center"><a href="{{ url_for('city_page', city=d.city) }}">{{ d.city }}</a></td>
            <td class="text-center"><a href="{{url_for('crime_page', crime=d.crime_name)}}">{{ d.crime_name }}</a></td>
            <td class="text-right">{{ d['2010'] }}</td>
            <td class="text-right">{{ d['2011'] }}</td>
            <td class="text-right">{{ d['2012'] }}</td>
            <td class="text-right">{{ d['2013'] }}</td>
            <td class="text-right">{{ d['2014'] }}</td>
            <td class="text-right">{{ d.avg }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <!-- <script src="{{url_for('static', filename='d3/d3.min.js')}}"></script>
  <script src="{{url_for('static', filename='jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='highcharts.js')}}"></script> -->

 {% include 'partials/footer.html' %}
</body>
</html>
