{% include 'partials/head.html' %}
<body>
{% include 'partials/navbar.html' %}
	<div class="container">
		<div class="row">
      <div id="main-header">
        <h1 class="text-center">{{ crime }}</h1>
      </div>
    </div>

    <p class="desc">Here is a table of the entire crime data for India. You can download it <a href="#">here</a>.</p>
		
		<div class="table-responsive">
			<h3 class="text-center">Crime in India</h3>
			<table class="table table-condensed table-striped table-bordered">
				<thead>
					<tr>
						<th>City</th>
						<th>Crime</th>
						<th>2010</th>
						<th>2011</th>
						<th>2012</th>
						<th>2013</th>
						<th>2014</th>
						<th>Average</th>
					</tr>
				</thead>
				<tbody>
					{% for d in master %}
					<tr>
						<td>{{ d.city }}</td>
						<td>{{ d.crime_name }}</td>
						<td>{{ d['2010'] }}</td>
						<td>{{ d['2011'] }}</td>
						<td>{{ d['2012'] }}</td>
						<td>{{ d['2013'] }}</td>
						<td>{{ d['2014'] }}</td>
						<td>{{ d.avg }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<!-- <script src="{{url_for('static', filename='d3/d3.min.js')}}"></script>
	<script src="{{url_for('static', filename='jquery.min.js')}}"></script>
	<script src="{{url_for('static', filename='highcharts.js')}}"></script> -->

	<script type="text/javascript">
	
	</script>	
</body>
</html>