{% include 'partials/head.html' %}

<body>
  {% include 'partials/navbar.html' %}
  
  <!--Main content-->
  <div class="container">
    <div class="row">
      <div id="main-header">
        <h1 class="text-center">Crime in India</h1>
        <h3 class="text-center">Opening up India's crime data</h3>
      </div>
    </div>

    <section id="map-section">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <p class="desc">Crime in India is an effort to make India's crime records more meaningful and easier to access. We have the most updated data from the National Crime Records Bureau &mdash; 2010 to 2014. Know your city and its crime history. Keep track of different kinds of crimes.</p>
          
          <p class="desc">Click on a city on the map or choose from the menu to get started. Look at crimes in <a href="#scroll-point"> different categories</a>. Or you can simply <a href="#story-section">read our stories</a>.</p>

          <form id="user-location">  
            <select name="/city/" class="form-control" id="city-name">
              <option value="Agra">Agra</option>
              <option value="Ahmedabad">Ahmedabad</option>
              <option value="Allahabad">Allahabad</option>
              <option value="Amritsar">Amritsar</option>
              <option value="Asansol">Asansol</option>
              <option value="Aurangabad">Aurangabad</option>
              <option value="Bengaluru">Bengaluru</option>
              <option value="Bhopal">Bhopal</option>
              <option value="Chandigarh">Chandigarh</option>
              <option value="Chennai">Chennai</option>
              <option value="Coimbatore">Coimbatore</option>
              <option value="Delhi">Delhi</option>
              <option value="Dhanbad">Dhanbad</option>
              <option value="Durg-Bhilainagar">Durg-Bhilainagar</option>
              <option value="Faridabad">Faridabad</option>
              <option value="Ghaziabad">Ghaziabad</option>
              <option value="Gwalior">Gwalior</option>
              <option value="Hyderabad">Hyderabad</option>
              <option value="Indore">Indore</option>
              <option value="Jabalpur">Jabalpur</option>
              <option value="Jaipur">Jaipur</option>
              <option value="Jamshedpur">Jamshedpur</option>
              <option value="Jodhpur">Jodhpur</option>
              <option value="Kannur">Kannur</option>
              <option value="Kanpur">Kanpur</option>
              <option value="Kochi">Kochi</option>
              <option value="Kolkata">Kolkata</option>
              <option value="Kollam">Kollam</option>
              <option value="Kota">Kota</option>
              <option value="Kozhikode">Kozhikode</option>
              <option value="Lucknow">Lucknow</option>
              <option value="Ludhiana">Ludhiana</option>
              <option value="Madurai">Madurai</option>
              <option value="Malappuram">Malappuram</option>
              <option value="Meerut">Meerut</option>
              <option value="Mumbai">Mumbai</option>
              <option value="Nagpur">Nagpur</option>
              <option value="Nasik">Nasik</option>
              <option value="Patna">Patna</option>
              <option value="Pune">Pune</option>
              <option value="Raipur">Raipur</option>
              <option value="Rajkot">Rajkot</option>
              <option value="Ranchi">Ranchi</option>
              <option value="Srinagar">Srinagar</option>
              <option value="Surat">Surat</option>
              <option value="Thiruvananthapuram">Thiruvananthapuram</option>
              <option value="Thrissur">Thrissur</option>
              <option value="Tiruchirappalli">Tiruchirappalli</option>
              <option value="Vadodara">Vadodara</option>
              <option value="Varanasi">Varanasi</option>
              <option value="Vasai-Virar">Vasai-Virar</option>
              <option value="Vijayawada">Vijayawada</option>
              <option value="Vishakhapatnam">Vishakhapatnam</option>
            </select>
            <input type="submit" id="city-button" class="btn btn-primary" value="Show me" />
          </form>

          <!-- <p class="intro">You can also <a href="#scroll-point">choose crime categories</p></a> -->
          
          <div id="map"></div>        
        </div>
      </div>
    </section>
    
    <section id="crime-section">
      <div class="row">
        <div id="main-header">
          <h2 class="text-center head" id="scroll-point">Crimes</h2>
          <p class="explainer">Choose a category of crime</p>
          <p class="desc" id="crime-select">'Violent crimes' include crimes like murder, attempt to commit murder, riots. 'Crimes against women' include rape, molestation, kidnapping of women. Burglary, arson, car thefts are among those classified as 'property crimes'. Economic crimes include, among others, cheating and forgery.</p>
        </div>

        <a href="/violent-crimes">
          <div class="col-md-3 col-sm-6 col-xs-6">        
            <div class="crime-box">
              <h3 class="crime-categ">Violent Crimes</h3>
              <img class="img-responsive crime-logo" src="{{url_for('static', filename='assets/violent.png')}}"/>
            </div>     
          </div>
        </a>  
        
        <a href="/women-crimes">
          <div class="col-md-3 col-sm-6 col-xs-6">        
            <div class="crime-box">
              <h3 class="crime-categ">Crimes Against Women</h3>
              <img class="img-responsive crime-logo" src="{{url_for('static', filename='assets/women.png')}}"/>
            </div>     
          </div>
        </a> 

        <a href="/property-crimes">  
          <div class="col-md-3 col-sm-6 col-xs-6">        
            <div class="crime-box">
              <h3 class="crime-categ">Property Crimes</h3>
              <img class="img-responsive crime-logo" src="{{url_for('static', filename='assets/property.png')}}"/>
            </div>     
          </div>
        </a>  

        <a href="/economic-crimes">  
          <div class="col-md-3 col-sm-6 col-xs-6">        
            <div class="crime-box">
              <h3 class="crime-categ">Economic Crimes</h3>
              <img class="img-responsive crime-logo" src="{{url_for('static', filename='assets/economic.png')}}"/>
            </div>     
          </div>
        </a> 
      </div>
    </section>

    <section id="list-section">
      <div class="row">

        <h2 class="head">Crime rates in cities</h2>
        <p class="desc">Here are the top five cities with the highest average crime rates in different crime categories. The average has been calculated using crime rates from 2010 to 2014. You can <a href="/city-list">click here to see the entire list of cities</a>.</p>
        
       {% for l in list_data %} 
          <div class="col-md-4 col-sm-6 col-xs-6">
            <h3 class="list-head">{{ categs[loop.index0] }}</h3>
            <ul class="list">
              {% for d in l %}
              <li>
                <a href="/cities/{{ d.city }}">{{ d.city }}</a>
                <p class="list-sub">{{ d.avg }} per 100,000 people</p>
              </li>
              {% endfor %}
            </ul>  
          </div>
        {% endfor %}

        <!--/list-->

      </div>
      <!--./row-->
      
    </section>

    <section id="story-section">
      <div class="row">
        <h2 class="head">Stories</h2>
        <p class="desc">We analyzed the data and found some very telling insights. Here are some of the stories. You can see the entire list of stories <a href="/stories">here</a>.</p>

        
      </div>      
    </section>

  </div>

  <script src="{{url_for('static', filename='jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='collapse.js')}}"></script>
  <script src="{{url_for('static', filename='d3/d3.min.js')}}"></script>
  <!-- <script src="{{url_for('static', filename='d3/d3-queue.min.js')}}"></script> -->
  <script src="{{url_for('static', filename='d3/topojson.v1.js')}}"></script>
  <script src="{{url_for('static', filename='data/cities.js')}}"></script>
  <script src="{{url_for('static', filename='script.js')}}"></script>

  {% include 'partials/footer.html' %}
</body>
</html>