{% include 'partials/head.html' %}

<body>
  {% include 'partials/navbar.html' %}
  
  <!--Main content-->
  <div class="container">
    <div class="row">
      <div id="main-header">
        <h1 class="text-center">Crime in India</h1>
      </div>
    </div>

    <section id="map-section">
      <div class="col-md-8 col-md-offset-2">
        <h3 class="intro">Welcome to Crime.in, a comprehensive portal of India's crime data. Compare crime statistics across different cities and years.</h3>
        <p class="intro">Click on a city on the map to get started or <a href="#scroll-point">click here to choose crime categories</p></a>
        <div id="map"></div>        
      </div>
    </section>
    
    <section id="crime-section">
      <div class="col-lg-12">
        <div id="main-header">
          <h2 class="text-center head" id="scroll-point">Crimes</h2>
        </div>        
        <p class="explainer">Choose a category of crime</p>

        <a href="/violent-crimes">
          <div class="col-md-4">        
            <div class="crime-box">
              <h3 class="crime-categ">Violent Crimes</h3>
              <img class="crime-logo" />
            </div>     
          </div>
        </a>  
        
        <a href="/women-crimes">
          <div class="col-md-4">        
            <div class="crime-box">
              <h3 class="crime-categ">Crimes Against Women</h3>
              <img class="crime-logo" />
            </div>     
          </div>
        </a> 

        <a href="/property-crimes">  
          <div class="col-md-4">        
            <div class="crime-box">
              <h3 class="crime-categ">Property Crimes</h3>
              <img class="crime-logo" />
            </div>     
          </div>
        </a>  

        <a href="/economic-crimes">  
          <div class="col-md-4">        
            <div class="crime-box">
              <h3 class="crime-categ">Economic Crimes</h3>
              <img class="crime-logo" />
            </div>     
          </div>
        </a>  

        <a href="/other-crimes">  
          <div class="col-md-4">        
            <div class="crime-box">
              <h3 class="crime-categ">Other Crimes</h3>
              <img class="crime-logo" />
            </div>     
          </div>
        </a>  
      </div>
    </section>

  </div>

  <script src="{{url_for('static', filename='jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='collapse.js')}}"></script>
  <script src="{{url_for('static', filename='d3/d3.min.js')}}"></script>
  <script src="{{url_for('static', filename='d3/d3-queue.min.js')}}"></script>
  <script src="{{url_for('static', filename='d3/topojson.v1.js')}}"></script>
  <script src="{{url_for('static', filename='data/cities.js')}}"></script>
  <script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>