{% include 'partials/head.html' %}

<body>
  {% include 'partials/navbar.html' %}
  <div class="container">
    <div class="row">
      <div class="main-header">
        <h1 class="text-center">Stories</h1>
      </div>
    </div>

    <hr>

    <article>
      <h3>Delhi bad for women, but Vijaywada, Gwalior are worse, stats show</h3>
      <p class="desc">Capital city Delhi always gets tagged as unsafe for women, but it is two other cities that have higher rates of crimes against women &mdash; Vijaywada and Gwalior &mdash; an analysis of the latest five years of crime data from the National Crime Records Bureau show.</p>

      <p class="desc">Gwalior has the highest average rate of rape crimes from 2011 to 2014, at 16.1 rapes per 100,000 women. This is more than thrice the national average for the same period. Vijaywada has the highest rate of sexual harassment and molestation crimes &mdash; 76.5 per 100,000 women &mdash; putting it at a whopping seven times the national average. Our composite crime category of sexual harassment and molestation includes crimes recorded under Sections 354 and 509 of the Indian Penal Code, which encompass all kinds of sexual harassment crimes women face other than rape i.e. stalking, teasing, molestation, passing lewd remarks, etc.</p>

      <div id="story21"></div>

      <p class="desc">From 2010 to 2012, the National Crime Records Bureau reported crime rates for rape and other crimes against women using the total population. We calculated the <a href="{{url_for('about')}}">actual crime rates using 2011 Census population totals</a>.</p>

      <h4>Rape</h4>
      <p class="desc">Delhi does have the highest rape rate among the metro cities. But when compared to all cities, Delhi is sixth on the list. Gwalior, with a female population of 513,229, consistently features in the top five every year from 2011 to 2014. Jabalpur, another city from Madhya Pradesh, has the second-highest average rape rate in the country &mdash; 15.2 per 100,000 women &mdash; for a female population of 604,468.</p>

      <p class="desc">When it comes to sexual harassment and molestation, too, Gwalior is one of the top three cities. The worst city here, however, is Vijayawada, with a sexual harassment crime rate of 76.5 per 100,000 women. The city had a population of 740,432 women during the 2011 Census. Even in this list, Delhi is left far behind by the smaller cities of the country.</p>

      <div id="story22"></div>
    </article>

    <hr>

    <article>
      <h3>Is Kochi really the most unsafe city?</h3>
      <p class="desc">Kochi, a city from the southern state of Kerala, is among the top ten cities with the highest average crime rate, according to the latest data available with the National Crime Records Bureau. This, however, raises more questions than it answers.</p>

      <p class="desc">Kochi has an overall average crime rate of 1,159 crimes per 100,000 people, more than five times the national average. The city has a population of 2.1 million, according to the 2011 Census. Kollam, another city from Kerala with a population of 1.1 million, is fifth on the list of cities with highest overall crime rate, with a rate of 689.1 crimes per 100,000 people.</p>

      <div id="story1"></div>

       <p class="desc">Indore (799.2 crimes per 100,000) and Gwalior (740.3 crimes per 100,000) are number two and three respectively when it comes to overall crime rates &mdash; both cities from the central state of Madhya Pradesh.</p>

      <p class="desc">Cities in central India have a higher crime rate than all of the metropolitan cities &mdash; even Delhi, which has a reputation for being an unsafe city.</p>      

      <p class="desc">The average crime rate for each city was calculated using crime data from the latest five years available with the National Crime Records Bureau i.e. from 2010 to 2014.</p>
      
      <p class="desc">While many newspapers have covered the <a href="http://archives.deccanchronicle.com/130619/news-current-affairs/article/kochi-top-crime-rate-chart">high</a> <a href="http://www.newindianexpress.com/cities/thiruvananthapuram/Kerala-tops-NCRB-crime-list/2013/06/20/article1643521.ece"> crime</a> <a href="http://blogs.wsj.com/indiarealtime/2012/10/15/delhi-journal-the-capital-of-crime-not-really/"> rate</a> in the city, few have looked beyond the numbers.</p>

      <p class="desc">Kerala boasts of nearly a <a href="http://www.censusindia.gov.in/2011-prov-results/data_files/india/Final_PPT_2011_chapter6.pdf">94 percent literacy rate (pdf)</a>, according to the 2011 Census and has the highest <a href="http://www.im4change.org/docs/340IHDR_Summary.pdf">Human Development Index (pdf)</a> in the country, according to a report by the Institute of Applied Manpower Research, a Government of India labor research wing. The state is considered one of the most progressive in the country.</p> 

      <p class="desc">This does bring us to the key question: does Kochi really have a crime problem, or is it simply better at recording crimes?</p>

      <p class="desc">Kochi has lower rates of violent crimes &mdash; murder, attempt to commit murder, and kidnapping &mdash; as compared to the national average. Both Indore and Gwalior have high overall crime rates as well as crime rates for murder, attempt to commit murder, and rape.</p>

      <p class="desc">Some users on <a href="https://www.quora.com/Why-does-Kerala-have-a-higher-crime-rate-even-though-most-of-the-population-is-well-educated">Quora</a> seem to think the high crime rate is actually a positive thing. The data does raise the question over the lack of standardized methods of recording crime across cities in the country.</p>      

      <!-- <p class="desc"></p> -->
    </article>

    <hr>
    
    <!-- <article>
      <h3></h3>
    </article>
    
    <article>
      <h3></h3>
    </article>
    
    <article>
      <h3></h3>
    </article> -->
  </div>

  <script src="{{url_for('static', filename='jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='highcharts.js')}}"></script>
  <script type="text/javascript">

    var totalData = {{ data|tojson }};
    var story2Data = totalData.filter(function(d) {
      return d.crime_name == "Rape" || d.crime_name == "Sexual harassment and molestation of women";
    });

    drawStory2(story2Data);


    $(function () {
        $('#story1').highcharts({
          chart: {
                type: 'column'
            },
          title: {
              text: "Cities with highest crime rates",
              x: -20 //center
          },
          xAxis: {
              categories: ['Kochi', 'Indore', 'Gwalior', 'Jaipur', 'Kollam', 'Bhopal', 'Patna', 'Durg-Bhilainagar', 'Jabalpur', 'Raipur']
          },
          yAxis: {
              title: {
                  text: 'Crimes per 100,000 people'
              },
              plotLines: [{
                  value: 204.2, // National average
                  color: 'green',
                  dashStyle: 'shortdash',
                  width: 2,
                  label: {
                      text: 'National average: 204.2',
                      rotation: 0,
                      y: -180,
                      x: 50
                  }
              }]
          },
          tooltip: {
              valueSuffix: ' crimes per 100,000'
          },
          credits: {
            enabled: false
          },
          legend: {
              layout: 'horizontal',
              align: 'right',
              verticalAlign: 'bottom',
              borderWidth: 0,
              floating: false
          },
          plotOptions: {
              column: {
                dataLabels: {
                    enabled: true
                }
              }
            },
          series: [{
            name: 'Total overall crime rate',
            data: [1159,799.2,740.3,714.2,689.1,680.1,592.4,584,570.8,549]
          }]
        });
      });

    function drawStory2(story2Data) {
      var rapeData = story2Data.filter(function(d) {
        return d.crime_name === "Rape";
      });
      var harassData = story2Data.filter(function(d) {
        return d.crime_name === "Sexual harassment and molestation of women";
      });

      var natAvgRape = rapeData.filter(function(d) {
        return d.city === "India";
      });
      var natAvgHarass = harassData.filter(function(d) {
        return d.city === "India";
      });

      
      // Top 10 rape and harass data
      rapeData.sort(function(a,b) {
        return +b.avg - +a.avg;
      });
      rapeData = rapeData.slice(0,10);

      harassData.sort(function(a,b) {
        return +b.avg - +a.avg;
      });
      harassData = harassData.slice(0,10);
      
      
      // Arrays for building chart 
      var categs = [],
          data = [];

      rapeData.forEach(function(d) {
        categs.push(d.city);
        data.push(+d.avg);
      });

      // Rape chart
      $(function () {
        $('#story21').highcharts({
          chart: {
                type: 'bar'
            },
          title: {
              text: "Rape",
              x: -20 //center
          },
          xAxis: {
              categories: categs
          },
          yAxis: {
              // max: 175,
              title: {
                  text: 'Rape incidences per 100,000 people'
              },
              plotLines: [{
                  value: +natAvgRape[0].avg,
                  color: 'green',
                  dashStyle: 'shortdash',
                  width: 2,
                  label: {
                      text: 'National average: ' + natAvgRape[0].avg,
                      rotation: 0,
                      y: 0,
                      x: 10
                  }
              }]
          },
          tooltip: {
              valueSuffix: ' crimes per 100,000'
          },
          credits: {
            enabled: false
          },
          legend: {
              layout: 'horizontal',
              align: 'right',
              verticalAlign: 'bottom',
              borderWidth: 0,
              floating: false
          },
          plotOptions: {
              bar: {
                dataLabels: {
                    enabled: true
                }
              }
            },
          series: [{
            name: 'Rape',
            data: data
          }]
        });
      });

      var c = [],
          d = [];

      // Plot data for sexual harassment
      harassData.forEach(function(i) {
        c.push(i.city);
        d.push(+i.avg);
      });

      console.log(c)
      console.log(d)


      $(function () {
        $('#story22').highcharts({
          chart: {
                type: 'column'
            },
          title: {
              text: "Sexual harassment and molestation",
              x: -20 //center
          },
          xAxis: {
              categories: c
          },
          yAxis: {
              // max: 175,
              title: {
                  text: 'Sexual harassment/molestation incidences per 100,000 people'
              },
              plotLines: [{
                  value: +natAvgHarass[0].avg,
                  color: 'green',
                  dashStyle: 'shortdash',
                  width: 2,
                  label: {
                      text: 'National average: ' + natAvgHarass[0].avg,
                      rotation: -90,
                      y: -5,
                      x: 10
                  }
              }]
          },
          tooltip: {
              valueSuffix: ' crimes per 100,000'
          },
          credits: {
            enabled: false
          },
          legend: {
              layout: 'horizontal',
              align: 'right',
              verticalAlign: 'bottom',
              borderWidth: 0,
              floating: false
          },
          plotOptions: {
              column: {
                dataLabels: {
                    enabled: true
                }
              }
            },
          series: [{
            name: 'Sexual harassment and molestation',
            data: d
          }]
        });
      });

    }
    
  </script>
</body>